{
    "extends": ["@antfu"],
    "overrides": [
        {
            "files": "./packages/status-page/cypress**/*.ts",
            "plugins": [
              "cypress",
            ],
            "extends": [
                "plugin:cypress/recommended"
              ],
          },
    ]
}